.header__email {
    margin: 0 24px 0 0;
    padding: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (max-width: 768px) {
    .header__email {
        font-size: 14px;
        text-align: right;  
        margin: 0;
    }
    
}