.login__title {
    width: 358px;
    height: 29px;
    margin: 60px auto 37px;
    padding: 0;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
}