.login__infoforuser {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    align-self: center;
}