.popup__input {
  border: none;
  width: 338px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 14px;
}
.popup__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 787px) {
  .popup__input {
    width: 218px;
  }
}
